<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>

<title>确认</title>

<link href="../public/client/bootstrap.css" rel="stylesheet">

<style>
body {
	padding: 20px;
}

#console {
	height: 400px;
	overflow: auto;
}

.username-msg {
	color: orange;
}

.connect-msg {
	color: green;
}

.disconnect-msg {
	color: red;
}

.send-msg {
	color: #888
}
</style>

<script>
	
</script>
</head>

<body>


<h1>${username}授权成功</h1>



</body>
<script>
	
</script>

</html>
